body{
    min-height: 713px;
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgb(255, 253, 253) 23%, rgb(160, 205, 248) 100%); 
    width: 100%;
}
.form{
    display: grid!important;
}
input {
    border-radius: 5px;
    border: 0.1px solid #D8D8D8;
    
}
label{
    margin: 34px -12px -25px -83px;
}
select {
    border-radius: 5px;
    border: 0.1px solid #D8D8D8;
    
}
.input-group .btn {
    position: relative;
    z-index: 2;
    border-radius: 24px;
}